@charset "utf-8";
/*CSS Document*/

/*样式重置(reset)*/
body,h1,h2,h3,h4,h5,h6,p,dl,ul,ol,form,input,textarea,th,td,select{margin: 0;padding: 0;}
em{font-style: normal;}/*em默认是斜的，扶正*/
li{list-style: none;}/*li默认有点*/
a{text-decoration: none;}/*a去掉下划线*/
img{border: none;vertical-align: top;}/*去掉外边框和对齐*/
table{border-collapse: collapse;}/*去掉表格之间的间隙*/
input,textarea{outline: none;}/*去掉输入框默认的高亮显示*/
textarea{resize: none;overflow: auto;}/*去掉文本框默认的变大变小（因为有些浏览器不支持），去掉右侧滚动条*/
body{font-size: 12px;font-family: "微软雅黑";}/*设计要求*/

/*public*/
.clear{zoom:1;}  /*ie浏览器*/
.clear:after{content: '';display: block;clear: both;} /*标准浏览器——塞点内容即空的字符串——把空的字符串转为块——再来清除两者*/
.fl{float: left;}
.fr{float: right;}
.gradient{
	background: -moz-linear-gradient(top,#ffffff,#495461);
	background: -webkit-linear-gradient(top,#ffffff,#495461);
	background: -ms-linear-gradient(top,#ffffff,#495461);
	background: linear-gradient(top,#ffffff,#495461);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#ffffff, endColorstr=#495461)";  /*ie9滤镜*/
	+background:#495461;    /*ie6,ie7*/
}

.wrap { width: 1349px; }
hr { position: relative; outline: 0; border: 0; width: 100%; height: 4px; background: #dddddd; margin: 20px 0; }

/*左侧固定栏*/   /*ie7和ie8需要调试*/
.side { width: 300px; height: 100%;  position: fixed; background: url(../img/slider.png) no-repeat;}
.side .side_top { padding: 40px 50px; }
.side .profile-image { width: 150px; height: 150px; margin-bottom: 15px; border-radius: 75px; overflow: hidden; background: gray;  /* 333*/ }
.side .profile-image img { position: relative; width: 150px; height: 168px; left: 0; top: 0; }
.side .side_top h3 { margin-bottom: 5px; color: #fff; font-size: 18px; font-family: "黑体"; }
.side .side_top p { color: #fff; font-family: "宋体"; }

.side .side_main { margin: 30px 0; }
.side .side_main li:hover { background: #282e35; }
.side .side_main li a {display: block; width: 270px; padding-left: 30px; font-size: 20px; height: 57px; line-height: 57px; color: #fff; font-family: "宋体"; }
.side .side_main .active,.side .side_main .active:hover { background: #495461; }

.side .side_footer { padding: 30px 40px; }
.side .side_footer li { float: left; margin-right: 20px; }
.side .side_footer a { font-size: 18px; color: #fff; }
.side .side_footer a:hover { color: #282e35; }



/*主体内容*/
.main_home { width: 1049px; height: 664px;background: url(../img/1.jpg) no-repeat; background-size: cover; }
.home_text { padding: 200px 80px; }
.main_home h2 { margin-bottom: 30px; font-size: 42px; color: #fff; font-family: "宋体"; }
.main_home h5 { font-size: 22px; color: #fff; font-family: "宋体"; }

.main_about { width: 1049px; height: 664px;  background: #eeeeee;  }
.main_about .row_1 { float: left; position: relative; left: 100px; top: 45px; padding: 60px 40px; width: 500px; height: 450px; background: #fff; font-size: 16px; color: #999; border-radius: 10px; box-shadow: 2px 0px 3px rgba(0,0,0,0.3); }
.main_about .row_1 h3 { margin-bottom: 10px; line-height: 24px; }
.main_about .row_1 p { margin-bottom: 10px; }
.main_about .s2 { display: block; position: absolute; width: 150px; bottom: 5px; right: 5px; font-size: 14px; }
.main_about a { color: #999; }
.main_about a:hover { text-decoration: underline; color: #c3c3c3; }

.main_about .col_1 { position: relative; float: right; width: 250px; height: 550px; right: 60px; top: 45px; }  
.list_section { width: 200px; height: 225px; margin: 15px 7px; padding: 10px 15px; background: #fff; color: #999; border-radius: 10px; box-shadow: 2px 0px 3px rgba(0,0,0,0.3); }
.list_section li { height: 27px; line-height: 27px; border-bottom: 1px dotted #dadada; background: url(../img/dot.gif) no-repeat 5px center; vertical-align: middle; } /*vertical-align: middle;为了ie6在li中float时有3个像素的bug*/
.list_section li a { float: left; color: #333; text-indent: 14px; }  /*当使用<a>标签缩进时需要float*/
.list_section li a:hover { text-decoration: underline; }
.list_section li a em { color: #c3c3c3; }
.list_section li a span { color: #c75d61; }
.list_section .col1,.list_section .col2 { float: left; }
.list_section .col1 { width: 175px; }
.list_section .col2 { width: 25px; }
.list_section .col2 { position: relative; top: 7px; }

.main_projects { width: 1049px; height: 664px;  background: #eeeeee;  }
.main_projects .row_2  { margin: 0 80px;  width: 889px; }
.main_projects .row_2 h3 {  position: relative; margin: 20px 0; background: #fff; font-size: 17px; color: #999; }
.main_projects .row_2 .p1,.main_projects .row_2 .p2 { line-height: 27px;  font-size: 16px; font-family: "宋体"; color: #999; }
.main_projects .row_2 .p2 { position: relative; width: 330px; left: 550px; }

.projects_item { position: relative; top: 20px; height: 400px; }
.projects_item li,.projects_item li img { width: 290px; height: 220px; }
.projects_item li { margin: 0 4px 4px 0; float: left; position: relative; }
.projects_item li p { display: none; width: 240px; height: 170px; line-height: 24px; padding: 50px 0 0 50px; background: rgba(0,0,0,0.5); color: #fff; position: absolute; top: 0; left: 0; }
.projects_item li p a { color: #fff; font-size: 16px; }
.projects_item li p a:hover { text-decoration: underline; }

.main_contact { position:relative; background: #fff; margin:50px 85px; padding: 30px 50px; height:480px; width:780px; box-shadow: 2px 0px 3px rgba(0,0,0,0.3); border-radius: 10px; }
.main_contact .con_top { margin-bottom: 10px; border: 1px #999 solid; width: 600px; }
.main_contact .con_top .title { font-size: 18px; text-align: center; border-bottom: 1px #000 solid; padding: 6px; }
.main_contact .con_top .msg { overflow-y:scroll; height: 300px; }

.msg ul{ background-color: #f0f0f0; border:1px solid #000; border-radius: 10px; margin:10px; padding: 10px; }
.msgcontent{ text-indent: 24px; word-break: break-all; font-family: "宋体"; font-size: 16px; margin-bottom: 14px; line-height: 20px; }
.msginfo{ text-align: right; }
.author{ margin-left: 24px; }

.main_contact {  background: #eeeeee; }
.main_contact .con_mid { margin-bottom: 10px; width: 600px; }
.main_contact .con_mid .ct { margin-left: 20px; }
.showtip{ margin-left: 30px; border-radius: 8px; background-color: #c8c8c8; }


.main_contact .con_bot .txt { border: 1px #000 solid; font-size: 14px; color: #c8c8c8; width: 400px; height: 70px; vertical-align: top;}
.main_contact .con_bot input { font-size: 14px; margin-top: 14px; }
.newname { color: #c8c8c8; }
